section{
	width:100%;
	height:auto;
	background:#f2f2f2;
	border-bottom: 3px solid #b6b6b6;
}
.banner{
	width:100%;
	height:245px;
	background:url(../images/product_introduction1.jpg) no-repeat center center;
	background-size:cover;
	position: relative;
	cursor: pointer;
}
.main{
	display: none;
}
.show1{
	display: block;
}
nav{
	position: absolute;
	bottom:0;
	width:100%;
	height:34px;
	background:rgba(34, 45, 31, 0.58);
	display:flex;
	align-items: center;
    padding-left: 15%;
    box-sizing: border-box;
}
nav .houtai{
	display: block;
	right:0;
	text-decoration: none;
	width:100px;
	height:34px;
	text-align: center;
	line-height: 34px;
	color:#FFFFFF;
	margin-left:80%;
	font-size:15px;
	font-weight: bold;
}
nav span{
    display: block;
    width: 100px;
    height: 100%;
    background: rgba(34, 45, 31, 0.58);
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    color:#fff;
    cursor:pointer;
}	
nav .active{
	background: #fff;
	color: rgb(58, 58, 58);
}
.title{
	height: auto;
    margin: 2% auto 0;
    width: 69%;
    max-width: 1003px;
}
.title h1{
	font-size: 20px;
    color: #414141;
}
.title h2{
	font-size: 14px;
    line-height: 25px;
    color: #0175c2;
    font-family: Arial;
    font-weight: bold;
}
.txt{
	margin: 0.5% auto 4%;
    width: 69%;
    max-width: 1003px;
    height: auto;
    color: #565656;
    font-size: 14px;
    line-height: 23px;
    min-height: 400px;
}
.txt-top{
	width: 100%;
	height:28px;
	background-color:#C8C8C8;
	margin-top:10px;
}
.txt-top ul{
	list-style: none;
}
.txt-top ul li{
	float: left;
	width:95px;
	height:28px;
	text-align: center;
	line-height:28px;
}
.txt-top a{
	text-decoration: none;
	font-size:14px;
	display: block;
	width:95px;
}
.top-current a:link{
	background-color: #006987;
	color: #fff;
}
.txt-top a:hover{
	background-color: #006987;
	color: #fff;
}
/*.txt-top .color{
	background-color: #006987;
	color: red;*/
}
.txt-bottom{
	width:100%;
	height:auto;
	margin-top:5%;
	
}
.txt-pic{
	width:100%;
	height:auto;
}
/*.txt-pic div{
	width:100%;
	display: none;
	height:auto;
	
}*/
.txt-pic ul{
	list-style: none;
	width:101.9%;
	display: none;
}
.txt-pic ul li{
	float:left;
	width:23%;
	margin-right:15px;
	margin-bottom: 20px;
	cursor:pointer;
}
.txt-pic .show{
	display: block;
}
.txt-spans{
	width:100%;
	height:31px;
	padding:15px 0;
	text-align: center;
	clear:both;
	cursor:pointer;
	
}
.txt-spans span{
	width:30px;
	height:31px;
	display: inline-block;
	font-size:14px;
	text-align: center;
	line-height:31px;
	border:1px solid #ccc;
	margin-right: 5px;
}
#icon{
	width:64px;
}
.txt-spans .current{
	background-color:#0097E0;
	color:#fff;
}
.txt p {text-align: center;margin: 0 auto;}
.tal{
	width:100%;
	height:auto;
	margin: 20px auto;
}
.tal table{
	height:auto;
	width:90%;
	text-align: center;
	margin:0 auto;
	cellspacing:1;
	cellpading:0;
	font-size: 14px;
	
}
.tal tr{
	height: 30px;
	width:100%;
}

.tal .odd{
	background-color:rgb(238,250,255) ;
}
.tal  th,.tal td{
	width:30%;
	height:30px;
	background:rgb(211,241,254);
	text-align: center;
	line-height: 30px;
	padding:5px;
	
}
.tal td{
	background: #fff;
	color:#000;
}
